<ion-header>
	<ion-toolbar [style.color]="'white'" [style.font-size.rem]="'0.8'">
		<ion-title>Inicio</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="openUrl('instagram', 'laesmeralda_ca')">
				<ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
			</ion-button>
			<!--ion-button (click)="openUrl('facebook', 'bodegon.laesmeralda', 'https://www.facebook.com/bodegon.laesmeralda')">
				<ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
			</ion-button-->
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<iframe src="http://laesmeralda.com.ve/" width="100%" height="100%"></iframe>

	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="dark">
			<ion-icon name="share"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="start">
			<ion-fab-button (click)="shareFacebook()">
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-fab-button>
			<ion-fab-button (click)="shareInstagram()">
				<ion-icon name="logo-instagram"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
		<ion-fab-list side="end">
			<ion-fab-button (click)="shareWhatsApp()">
				<ion-icon name="logo-whatsapp"></ion-icon>
			</ion-fab-button>
			<ion-fab-button (click)="shareTwitter()">
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
		<ion-fab-list side="top">
			<ion-fab-button (click)="shareSMS()">
				<ion-icon name="mail"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
</ion-content>